@{
    ViewData["Title"] = "Домашняя страница";
}

<h1>
    Лабораторная работа по РИС
</h1>
        
<div class="row">
    <div class="col-md-3">
        <h2>Сделано Валерией Калашниковой</h2>
    </div>
</div>
